[submodule "lib/cwist"]
	path = lib/cwist
	url = https://github.com/c4punks/CWIST.git
	branch = main
[submodule "lib/libttak"]
	path = lib/libttak
	url = https://github.com/c4punks/libttak.git
	branch = main
